<header>
  <h1 class="header-title">Plantory</h1>
  <nav class="navbar">
    <ul>
      <li>
        <a href="/" class="hover-underline-animation center">Home</a>
      </li>

      <li>
        <a href="/categories" class="hover-underline-animation center"
          >Categories</a
        >
      </li>

      <li>
        <a href="/items" class="hover-underline-animation center">Items</a>
      </li>
    </ul>
  </nav>
</header>
