<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
  <pattern
    id="pattern"
    x="0"
    y="0"
    width="110"
    height="110"
    patternUnits="userSpaceOnUse"
  >
    <text class="emoji-pattern" x="0" y="40" width="40" font-size="40">🌿</text>
    <text class="emoji-pattern" x="40" y="90" width="40" font-size="40">🌿</text>
  </pattern>
  <rect fill="url(#pattern)" x="0" y="0" width="100%" height="100%" />
</svg>

<header>
  <h1 class="header-title">Plantory</h1>
  <nav class="navbar">
    <ul>
      <li>
        <a href="/" class="hover-underline-animation center">Home</a>
      </li>

      <li>
        <a href="/categories" class="hover-underline-animation center"
          >Categories</a
        >
      </li>

      <li>
        <a href="/items" class="hover-underline-animation center">Items</a>
      </li>
    </ul>
  </nav>
</header>
