<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" type="image/x-icon" href="/images/logo-plantory.ico">
    <title>Error</title>
  </head>
  <body>
    <%- include("./partials/header") %>

    <main class="main-content">
      <section class="error-container">
        <p class="error-text"><%= message %></p>
      </section>
    </main>

    <%- include("./partials/footer") %>
  </body>
</html>
