
/* body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: var(--gradient-9);
} */

:root {
  --magnifier: 3;
  --gap: 1vmin;
  --transition: 0.5s;
}

.container {
  width: 100%;
  height: 50vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  padding-top: 4.5rem;
}

img {
  --brightness: 0.75;
  --grayscale: 1;
  transition: flex var(--transition), filter var(--transition);
  max-width: 100%;
  height: 100%;
  filter: grayscale(var(--grayscale)) brightness(var(--brightness));
  object-fit: cover;
  overflow: hidden;
  flex: 1;
  background-color: #eceae6;
}

img:hover {
  --brightness: 1.05;
  --grayscale: 0;
  flex: var(--magnifier);
}
