/* General Reset */
body {
  text-align: center;
}
.home-page {
  width: 100%;
  height: 100vh;
}

/* Intro Section (Fixed Title) */
.intro {
  width: 100%;
  background-color: transparent;
  position: relative;
  z-index: 10;
}

.intro-text {
  padding: 0.8rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.8rem;
  margin: 0;
  opacity: 0;
  transform: scale(0.9); /* Inicia más pequeño */
  display: inline-block;
  position: relative;

  animation: scaleIn 0.4s ease-in-out forwards;
}

/* Decorative Lines */
.intro-text::before,
.intro-text::after {
  content: "";
  position: absolute;
  display: block;
  /* width: 100%; */
  height: 2px;
  background-color: var(--text-color);
  animation: linesShow 0.85s ease-in-out forwards 0.4s;
  /* transition: width 0.85s ease-in-out 0.25s; */
}
.intro-text::before {
  top: 0;
  left: 0;
}
.intro-text::after {
  bottom: 0;
  right: 0;
}

/* Container */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 2rem;
  gap: 4rem;
  color: var(--text-color);

  position: relative;
  background-color: var(--bg-color-dark);

  width: 100%;
  height: calc(100% - 6.4rem); /* Ocupa toda la pantalla */
}

.content::before,
.content::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content::before {
  z-index: 2;
  background: rgba(0, 0, 0, 0);

  animation: fadeOutBg 2s ease-in forwards;
  animation-delay: 1.25s;
}
.content::after {
  z-index: 1;
  background-image: url("../images/bg1-lauripoldre.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;

  animation: fadeInImg 2s ease-in forwards;
  animation-delay: 1.25s;
}

/* Main Content */
.main-content {
  opacity: 0;
  z-index: 3;
  animation: fadeInContent 2s ease-in forwards;
  animation-delay: 1.25s;
}

/* Button Styles */
.btn-container {
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #e74c3c;
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin: 10px;
}

.btn:hover {
  background-color: #c0392b;
}

/* Animations */
@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes linesShow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeOutBg {
  0% {
    background: rgba(0, 0, 0, 0); /* Opacidad del 0% */
  }
  100% {
    background: rgba(0, 0, 0, 0.5); /* Opacidad del 50% */
  }
}

@keyframes fadeInImg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInContent {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
